/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
}

header {
    background-color: #1E7C6C;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .recycle-symbol {
    font-size: 30px;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 250px;
    background-color: #1E7C6C;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-content {
    flex-grow: 1;
    margin-left: 20px;
}

.content-section {
    display: none;
}

.content-section h2 {
    color: #1E7C6C;
}

button {
    background-color: #1E7C6C;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #144a3c;
}

.hidden {
    display: none;
}

/* Footer */
footer {
    text-align: center;
    background-color: #1E7C6C;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
